/* вариант на flex */

.flex_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1590px;
    margin-right: -30px;
}

.flex__img {
    width: 500px;
    margin: 0 30px 30px 0;
}

.flex__img_wide {
    width: 1030px;
    margin: 0 30px 30px 0;
}


/* вариант на grid */

.gird_wrapper {
    width: 1560px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 30px;
    grid-template-areas: "one one ." ". . ." ". nine nine";
}

.grid__wide_one {
    grid-area: one;
}

.grid__wide_nine {
    grid-area: nine;
}